/* Basic style */
header {
    background-color: rgb(174, 163, 148);
    padding: 1px;
    border-style: double;
    text-align: center;
}

body p {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(218, 205, 188);
    
}

#project {
    display:inline;
    margin-left:5%;
    margin-right: 5%; 
    align-items: center;
    justify-content: center;  
    
}

footer {
    background-color: rgb(143, 128, 109);
    padding: 10px;
    border-style: none;
}

/* Section Styles */

#sub-section {
    display:inline-block;
    margin-left: 6%;
    margin-right: 7.6%;
    align-items:center;
    justify-content: center;  
}

/* Orginasation */

.container {
    display:inline-flex;
    align-items: left;
    justify-content: left;
    padding-right: 20%;
}



.text {
    display: inline-flex;
    font-size: 20px;
    margin-right:20%;
    margin-left: 20%;
    float: left;
}